<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title - My ASP.NET MVC Application</title>
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width" />
  @Styles.Render("~/Content/bootstrap.css")
  @Styles.Render("~/Content/Site.css")
  @Styles.Render("~/Content/bootstrap-responsive.css")
  @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
          class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </a><a class="brand" href="#">Your real-time taxi application</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active">@Html.ActionLink("Map", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="container-fluid fill">
    @RenderBody()
  </div>
  <!-- /container -->
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("http://www.openlayers.org/api/OpenLayers.js")
  @Scripts.Render("~/Scripts/taxi.js")
  @RenderSection("scripts", required: false)
</body>
</html>
